HTML  CSS   Result
Edit on 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
		height: 100%;
	}
body {
	
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-color: #4286f4;
		background-attachment: fixed;
		background-image: url("assets/BACKGROUND_REEF.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
}
body{
    font-family: raleway, arial, sans-serif;
    width: 100%;
    margin: 0 auto;
	padding: 10px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 25% auto auto 25%;
    grid-template-rows: auto auto auto;
    grid-template-areas: ".     top-bar     		top-bar    		."             
                         ".     mainslide        	mainslide       ."
						 ".		tagline				tagline			."
						 ".		email				email			."
						 ".		features			features		."
						 ".		social_media		social_media	."
						 ".		email_last			email_last		."
                         ".     main-footer 		main-footer     .";
}


.top-bar{
	grid-area: top-bar;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas: ".	 title   ."
}

.title{
	 grid-area: title;
	 align-self: start;
	 text-align: center;
	 justify-self: center;
	 color: #e6e8ed;
}

.mainslide{
	grid-area: mainslide;
	justify-self: center;
	display: grid;
	grid-template-columns: 1% auto 1%;
	grid-template-areas: ".   hero  ."
	
}
/*experiment to make image smaller*/
.hero{
	grid-area: hero;
	 align-self: start;
	 justify-self: center;
	 max-height: 100%;
	 max-width: 100%;
}

.tagline{
	grid-area: tagline;
	text-align: center;
}

.email{
	grid-area: email;
	text-align: center;
}

.features{
	grid-area: features;
	text-align: center;
}

.social_media{
	grid-area: social_media;
	text-align: center;
	display: grid;
	grid-template-columns: 25% auto 25%;
	grid-template-areas: 	"soctext soctext soctext"
							".	 	thumbgroup  	 ."
}

.soctext{
	grid-area: soctext;
	align-self: start;
	text-align: center;
	justify-self: center;
}

.thumbgroup{
	 grid-area: thumbgroup;
	 align-self: start;
	 justify-self: center;
	 max-height: 100%;
}

.email_last{
	grid-area: email_last;
	text-align: center;
}

.main-footer{
	grid-area: main-footer;
	text-align: center;
	align-self: end;
}

/*Styling*/
h1 {
	color: #e6e8ed;
	font-size: 28pt;
	font-weight: 900;
	letter-spacing: 1px;
	font-family: "Rubik", "Josefin Sans", "Anton", "Muli", "Oswald";
	
}
h2 {
	color: #f4f4f7;
	font-size: 16pt;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Rubik", "Josefin Sans", "Anton", "Muli", "Oswald";
}
h3{
	color: #f4f4f7;
	font-size: 18pt;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Rubik", "Josefin Sans", "Anton", "Muli", "Oswald";
}
p{
	color: #f4f4f7;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Rubik", "Josefin Sans", "Anton", "Muli", "Oswald";
}
li{
	color: #ffffff;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: "Rubik", "Josefin Sans", "Anton", "Muli", "Oswald";
}
p.copyright{
	color: #e6e8ed;
	font-weight: 100;
	letter-spacing: -1px;
	font-family: "Times New Roman";
}
.heroimg {
	max-width: 100%;
	height: auto%;
}

.thumb{
	max-width: 100%;
	height:  auto;
}

.button {
    background-color: #f7ff0f;
    border: none;
    color: #000000;
	font-weight: 900;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.spacer{
	height:100px;
}
div.list{
	background-color: #02a7eb;
}
